___

<a href='https://github.com/shivamjhads/Python-Lab'><img src='../Logo.png'/></a>
___
<center><em>Python for DataScience</em></center>

#### Variable Assignment

In [1]:
my_dogs = 2

In [2]:
my_dogs

2

In [3]:
type(my_dogs)

int

In [4]:
my_dogs = ['Sammy', 'Frankie']

In [5]:
my_dogs

['Sammy', 'Frankie']

In [6]:
type(my_dogs)

list

In [7]:
a = 5

In [8]:
a

5

In [9]:
a = 10

In [10]:
a

10

In [11]:
a + a

20

In [12]:
a = a + 10
a

20

In [13]:
a += 10
a

30

In [14]:
a *= 2

In [15]:
a

60

In [16]:
type(a)

int

In [17]:
a = (1, 2)

In [18]:
type(a)

tuple

In [19]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [20]:
my_taxes

10.0

In [21]:
p = 4**3
print(p)

64

In [22]:
z = 21 % 4
z

1

In [23]:
y = 23 // 5
print(y)

4

In [24]:
# Single Word
'Hello'

'Hello'

In [25]:
# Entire phrase
'I am learning string in Python'

'I am learning string in Python'

In [26]:
# String in double quote
"String can have double quote"

'String can have double quote'

In [27]:
# Be careful with double quote
'I'am using single quote and this will throw error'

SyntaxError: invalid syntax (4048659959.py, line 2)

In [ ]:
"I'am using single quote and this will throw error"

In [ ]:
"Hello World"

In [ ]:
"Hello world 1"
"Hello world 2"

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print new line')
print('\n')
print('See what i mean')

In [ ]:
len('Hello World')

In [ ]:
s = 'Hello World'

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
s[1:]

In [ ]:
s

In [ ]:
s[:3]

In [ ]:
s[:]

In [ ]:
s[-1]

In [ ]:
s[:-1]

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s[::-1]

In [ ]:
s

In [ ]:
s[0] = 'x'

In [ ]:
s

In [ ]:
s + ' Concatenante me'

In [ ]:
s = s + ' Concatenante me'

In [ ]:
print(s)

In [ ]:
d = s[:5]
d

In [ ]:
my_intro = d + ' Shivam'
my_intro

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.split()

In [ ]:
in_string = [50, 20]

In [ ]:
in_string

In [ ]:
my_list = in_string
x = int(in_string[0])
y = int(in_string[1])
print(x)
print(y)

In [ ]:
print(f"x before swapping: {x}")
print(f"y before swapping: {y}")
print()

In [ ]:
z = x
x = y
y = z
print()

In [ ]:
print(f"x after swapping: {x}")
print(f"y after swapping: {y}")

In [ ]:
a = 10
b = 20 
# Before swapping
print(f"a before swapping: {a}")
print(f"b before swapping: {b}")
print()

#write swapping code here
a, b = b, a

# After swapping
print(f"a after swapping: {a}")
print(f"b after swapping: {b}")

In [ ]:
num =6
if num%2 == 0:
    print("Even")
else: print("odd")

In [ ]:
k= 21
n = int(k/3)
print(n)
a = int(3n+1)
print(a)
# if k == (3n+1):
#     print(beautiful)

In [ ]:
input_list = [7,True]
day_of_the_week = int(input_list[0]) #first element is an integer denoting the day of the week
is_on_vacation = bool(input_list[1]) #this is a boolean denoting if its vacation or not
def morning_alarm(day_of_the_week, is_on_vacation):
    weekend = [6,7]
    if is_on_vacation == True:
        if day_of_the_week not in weekend:
            return '10:00'
        else: 
            return 'Off'
    else: 
        if day_of_the_week not in weekend:
            return '7:00'
        else:
            return '10:00'
print(morning_alarm(day_of_the_week, is_on_vacation))

In [ ]:
import ast
input_list = ast.literal_eval(input())
days_of_the_week = input_list[0]
is_on_vacation = input_list[1]
weekend = [6,7]

if is_on_vacation == True and days_of_the_week in weekend:
    print('Off')
elif is_on_vacation == True and days_of_the_week not in weekend:
    print('10:00')
elif is_on_vacation == False and days_of_the_week in weekend:
    print('10:00')
else:
    print('7:00')

In [ ]:
((500//7)%5)**3

In [ ]:
T = (3, 5, 7, 11)
T.append(9)

In [ ]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

In [ ]:
paragraph = comprehension equivalent
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

In [ ]:
print(list(range(1, 10, 1)))

In [ ]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

In [ ]:
l = [32, 34, 12, 27, 33]
l.append(14)
print(len(l))

In [ ]:
number = int(input())
if number == 0:
    print(1)
elif number < 0:
    print(-1)
else: 
    f = 1
    for i in range(1, number+1):
        f = f*i
    print(f)

In [ ]:
n = int(input())

#the function definition starts here
def factorial(n):
    #write the funtion here that finds and RETURNS factorial of next
    if n == 0:
        return 1
    elif n < 0:
        return -1
    else: 
        f = 1
        for i in range(1, n+1):
            f = f*i
        return f
k = factorial(n)
print(k)

In [33]:
n = input()
reverse_number = int(n[::-1])
print(reverse_number)

890
98

In [30]:
num = input()
reverse_num = num
print(int(reverse_num))

543
543

In [ ]:
n = int(input())
r = 0
while n>0:
    r = r*10 + n%10
    n = n//10
print(r)

In [40]:
in_list = input().split(',')
m = int(in_list[0])
c = int(in_list[1])

choc = m//c
w = m//c

r = 3
while w//r != 0:
    choc += w//r
    w = w//r + w%r

print(choc)

15,2
10

In [41]:
print(' ', end='')

In [ ]:
n = int(input())
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print('*')

In [58]:
A = [10, 20, 30]
B = [45, 35, 25]
B.extend(A)
B

[45, 35, 25, 10, 20, 30]

In [57]:
[A.append(i) for i in B]

[None, None, None]

In [1]:
%%writefile file.txt
Hello this is a text file
this is the second like
this is the third line

Writing file.txt

In [2]:
myfile = open("file.txt")

In [4]:
myfile = open("myfile.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [5]:
pwd

'/Users/shivamjha/DataScience/dslab/00-Python Object and Data Structure Basics'

In [6]:
myfile = open("file.txt")

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [8]:
myfile.read()

''

In [9]:
myfile.seek(0)

0

In [10]:
myfile.read()

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [11]:
myfile.read()

''

In [12]:
myfile.seek(0)

0

In [13]:
contents = myfile.read()

In [14]:
contents

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [40]:
player = 'Thomas'
points = 33

In [45]:
'last night,'+player+' scored '+str(points)+' points'

'las night,Thomas scored 33 points'

In [52]:
id = 12345
first_name = 'Shivam'
last_name = 'Jha'

In [53]:
'My first name is '+first_name+' and last name is '+last_name+' and my id is: '+str(id)+''

'My first name is Shivam and last name is Jha and my id is: 12345'

In [57]:
print("I'am going to inject %s here." %'something')

I'am going to inject something here.

In [60]:
print("My name is %s Jha" %'Shivam')

My name is Shivam Jha

In [61]:
print("I'am going to inject %s text here, and %s text here." %('some', 'more'))

I'am going to inject some text here, and more text here.

In [63]:
print("I am working in %s as %s" %("TCS","Software Engineer"))

I am working in TCS as Software Engineer

In [64]:
x, y = 'some', 'more'
print("I am going to inject %s text here, some %s text heere" %(x,y))

I am going to inject some text here, some more text heere

In [65]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [87]:
print('He said his name is %s.' %'Shivam')

He said his name is Shivam.

In [68]:
print('He said his name is %r.' %'Shivam Jha')

He said his name is 'Shivam Jha'.

In [77]:
print('He biiger than %s.' %'\tme')

He biiger than 	me.

In [84]:
print('His number is %s.' %7.25)

His number is 7.25.

In [85]:
print('His number is %d.' %7.25)

His number is 7.