___

<a href='https://github.com/shivamjhads/Python-Lab'><img src='../Logo.png'/></a>
___
<center><em>Python for DataScience</em></center>

#### Variable Assignment

In [1]:
my_dogs = 2

In [2]:
my_dogs

2

In [3]:
type(my_dogs)

int

In [4]:
my_dogs = ['Sammy', 'Frankie']

In [5]:
my_dogs

['Sammy', 'Frankie']

In [6]:
type(my_dogs)

list

In [7]:
a = 5

In [8]:
a

5

In [9]:
a = 10

In [10]:
a

10

In [11]:
a + a

20

In [12]:
a = a + 10
a

20

In [13]:
a += 10
a

30

In [14]:
a *= 2

In [15]:
a

60

In [16]:
type(a)

int

In [17]:
a = (1, 2)

In [18]:
type(a)

tuple

In [19]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [20]:
my_taxes

10.0

In [21]:
p = 4**3
print(p)

64

In [22]:
z = 21 % 4
z

1

In [23]:
y = 23 // 5
print(y)

4

In [24]:
# Single Word
'Hello'

'Hello'

In [25]:
# Entire phrase
'I am learning string in Python'

'I am learning string in Python'

In [26]:
# String in double quote
"String can have double quote"

'String can have double quote'

In [27]:
# Be careful with double quote
'I'am using single quote and this will throw error'

SyntaxError: invalid syntax (4048659959.py, line 2)

In [ ]:
"I'am using single quote and this will throw error"

In [ ]:
"Hello World"

In [ ]:
"Hello world 1"
"Hello world 2"

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print new line')
print('\n')
print('See what i mean')

In [ ]:
len('Hello World')

In [ ]:
s = 'Hello World'

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
s[1:]

In [ ]:
s

In [ ]:
s[:3]

In [ ]:
s[:]

In [ ]:
s[-1]

In [ ]:
s[:-1]

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s[::-1]

In [ ]:
s

In [ ]:
s[0] = 'x'

In [ ]:
s

In [ ]:
s + ' Concatenante me'

In [ ]:
s = s + ' Concatenante me'

In [ ]:
print(s)

In [ ]:
d = s[:5]
d

In [ ]:
my_intro = d + ' Shivam'
my_intro

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.split()

In [ ]:
in_string = [50, 20]

In [ ]:
in_string

In [ ]:
my_list = in_string
x = int(in_string[0])
y = int(in_string[1])
print(x)
print(y)

In [ ]:
print(f"x before swapping: {x}")
print(f"y before swapping: {y}")
print()

In [ ]:
z = x
x = y
y = z
print()

In [ ]:
print(f"x after swapping: {x}")
print(f"y after swapping: {y}")

In [ ]:
a = 10
b = 20 
# Before swapping
print(f"a before swapping: {a}")
print(f"b before swapping: {b}")
print()

#write swapping code here
a, b = b, a

# After swapping
print(f"a after swapping: {a}")
print(f"b after swapping: {b}")

In [ ]:
num =6
if num%2 == 0:
    print("Even")
else: print("odd")

In [ ]:
k= 21
n = int(k/3)
print(n)
a = int(3n+1)
print(a)
# if k == (3n+1):
#     print(beautiful)

In [ ]:
input_list = [7,True]
day_of_the_week = int(input_list[0]) #first element is an integer denoting the day of the week
is_on_vacation = bool(input_list[1]) #this is a boolean denoting if its vacation or not
def morning_alarm(day_of_the_week, is_on_vacation):
    weekend = [6,7]
    if is_on_vacation == True:
        if day_of_the_week not in weekend:
            return '10:00'
        else: 
            return 'Off'
    else: 
        if day_of_the_week not in weekend:
            return '7:00'
        else:
            return '10:00'
print(morning_alarm(day_of_the_week, is_on_vacation))

In [ ]:
import ast
input_list = ast.literal_eval(input())
days_of_the_week = input_list[0]
is_on_vacation = input_list[1]
weekend = [6,7]

if is_on_vacation == True and days_of_the_week in weekend:
    print('Off')
elif is_on_vacation == True and days_of_the_week not in weekend:
    print('10:00')
elif is_on_vacation == False and days_of_the_week in weekend:
    print('10:00')
else:
    print('7:00')

In [ ]:
((500//7)%5)**3

In [ ]:
T = (3, 5, 7, 11)
T.append(9)

In [ ]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

In [ ]:
paragraph = comprehension equivalent
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

In [ ]:
print(list(range(1, 10, 1)))

In [ ]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

In [ ]:
l = [32, 34, 12, 27, 33]
l.append(14)
print(len(l))

In [ ]:
number = int(input())
if number == 0:
    print(1)
elif number < 0:
    print(-1)
else: 
    f = 1
    for i in range(1, number+1):
        f = f*i
    print(f)

In [ ]:
n = int(input())

#the function definition starts here
def factorial(n):
    #write the funtion here that finds and RETURNS factorial of next
    if n == 0:
        return 1
    elif n < 0:
        return -1
    else: 
        f = 1
        for i in range(1, n+1):
            f = f*i
        return f
k = factorial(n)
print(k)

In [33]:
n = input()
reverse_number = int(n[::-1])
print(reverse_number)

890
98

In [30]:
num = input()
reverse_num = num
print(int(reverse_num))

543
543

In [ ]:
n = int(input())
r = 0
while n>0:
    r = r*10 + n%10
    n = n//10
print(r)

In [40]:
in_list = input().split(',')
m = int(in_list[0])
c = int(in_list[1])

choc = m//c
w = m//c

r = 3
while w//r != 0:
    choc += w//r
    w = w//r + w%r

print(choc)

15,2
10

In [41]:
print(' ', end='')

In [ ]:
n = int(input())
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print('*')

In [58]:
A = [10, 20, 30]
B = [45, 35, 25]
B.extend(A)
B

[45, 35, 25, 10, 20, 30]

In [57]:
[A.append(i) for i in B]

[None, None, None]

In [1]:
%%writefile file.txt
Hello this is a text file
this is the second like
this is the third line

Writing file.txt

In [2]:
myfile = open("file.txt")

In [4]:
myfile = open("myfile.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [5]:
pwd

'/Users/shivamjha/DataScience/dslab/00-Python Object and Data Structure Basics'

In [6]:
myfile = open("file.txt")

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [8]:
myfile.read()

''

In [9]:
myfile.seek(0)

0

In [10]:
myfile.read()

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [11]:
myfile.read()

''

In [12]:
myfile.seek(0)

0

In [13]:
contents = myfile.read()

In [14]:
contents

'Hello this is a text file\nthis is the second like\nthis is the third line\n'

In [40]:
player = 'Thomas'
points = 33

In [45]:
'last night,'+player+' scored '+str(points)+' points'

'las night,Thomas scored 33 points'

In [52]:
id = 12345
first_name = 'Shivam'
last_name = 'Jha'

In [53]:
'My first name is '+first_name+' and last name is '+last_name+' and my id is: '+str(id)+''

'My first name is Shivam and last name is Jha and my id is: 12345'

In [57]:
print("I'am going to inject %s here." %'something')

I'am going to inject something here.

In [60]:
print("My name is %s Jha" %'Shivam')

My name is Shivam Jha

In [61]:
print("I'am going to inject %s text here, and %s text here." %('some', 'more'))

I'am going to inject some text here, and more text here.

In [63]:
print("I am working in %s as %s" %("TCS","Software Engineer"))

I am working in TCS as Software Engineer

In [64]:
x, y = 'some', 'more'
print("I am going to inject %s text here, some %s text heere" %(x,y))

I am going to inject some text here, some more text heere

In [65]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [87]:
print('He said his name is %s.' %'Shivam')

He said his name is Shivam.

In [68]:
print('He said his name is %r.' %'Shivam Jha')

He said his name is 'Shivam Jha'.

In [77]:
print('He biiger than %s.' %'\tme')

He biiger than 	me.

In [84]:
print('His number is %s.' %7.25)

His number is 7.25.

In [85]:
print('His number is %d.' %7.25)

His number is 7.

In [14]:
import ast
input_list = [1,3,5,-2,6,10]

#start writing your code here

if len(input_list) == 0:
    print("List is empty")
else: 
    max_val = input_list[0]
    for item in input_list:
        if item[0::2] > max_val:
            max_val = item
    print(max_val)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [22]:
import ast
input_list1 = [1,3,5,-2,6,10,11]
sorted(input_list1)
Max = input_list1[0]
Max

1

In [ ]:
input_list = [4,3,8,-2,14,10,11]

In [29]:
if 3 < 2:
    print('Its True!')
else:
    print('It is not true')

It is not true

In [32]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print('Not hungry')

Not hungry

In [34]:
place = 'Park'

if place == 'school':
    print("I study there")
elif place == 'Park':
    print('I play there')
else: 
    print("Don't know what to do!")

I play there

In [37]:
name = 'Jose'

if name == 'Ravi':
    print('Hello Ravi!')
elif name == 'Shivam Jha':
    print('Hello Shivam Jha!')
else: 
    print("What's your name?")

What's your name?

In [38]:
print(chr(51))

3

In [45]:

s='aabupGradaab'.strip('a').strip('b').strip('a')
s

'upGrad'

In [50]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [51]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [70]:
for num in mylist:
    if num%2 == 0:
        print(f'This is even number: {num}')
    else:
        print(f'odd number:{num}')

odd number:1
This is even number: 2
odd number:3
This is even number: 4
odd number:5
This is even number: 6
odd number:7
This is even number: 8
odd number:9
This is even number: 10

In [74]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [76]:
for letter in "Hello Shivam":
    print(letter)

H
e
l
l
o

S
h
i
v
a
m

In [77]:
tup = (1,2,3)
for i in tup:
    print(i)

1
2
3

In [84]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

for a,b in my_list:
    print(b)

2
4
6
8

In [92]:
my_list1 = [(1,2,11),(3,4,12),(5,6,13),(7,8,14)]
len(my_list1)
for a,b,c in my_list1:
    print(c)

11
12
13
14

In [104]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [111]:
d1 = {'k4':4,'k5':5,'k6':6}

for key in d.items():
    print(key)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
def cube(n) :
    return (n*(n+1)//2)**2
n=int(input("enter N: "))
print("Sum of cubes of first {} natural numbers: ".format(n),Cube(n))

In [112]:
x = int(input())
y = int(input())
z = x**3+y**3
print(z)

3
4
91

In [115]:
first_number = int(1)
last_number = int(100)

for prime_Number in range (first_number, last_number + 1):
    count = 0
    for i in range(2, (prime_Number//2 + 1)):
        if(prime_Number % i == 0):
            count = count + 1
            break

    if (count == 0 and prime_Number != 1):
        print(" %d" %prime_Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

In [116]:
x = 1
y= 100
for num in range(x,y + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [125]:
number = int(input())
add_number = 0
while number!=0:
    k = number%10
    add_number +=k*k*k
    number = number//10
if add_number==number:
    print('This is armstrong number')
else:
    print('this is not a armstrong number')

1234
this is not a armstrong number

In [131]:
x = 10

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
    
else: 
    print('X is not less than 5')

X is not less than 5

In [137]:
x = 1
while x < 10:
    
    if x == 5:
        break
    print(x)  
    x += 1

1
2
3
4

In [143]:
for num in range(3,11,2):
    print(num)

3
5
7
9

In [144]:
list(range(3,11))

[3, 4, 5, 6, 7, 8, 9, 10]

In [151]:
index_count = 0

for letter in 'abcdef':
    print('Index count at {} is letter: {}'.format(index_count,letter))
    index_count += 1

Index count at 0 is letter: a
Index count at 1 is letter: b
Index count at 2 is letter: c
Index count at 3 is letter: d
Index count at 4 is letter: e
Index count at 5 is letter: f

In [155]:
index_count1 = 0
word = 'abcdef'

for letter in word:
    print(word[index_count1])
    index_count1 +=1

a
b
c
d
e
f

In [1]:
mylist = [10,20,30,40,100]

In [2]:
min(mylist)

10

In [3]:
max(mylist)

100

In [4]:
from random import shuffle

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,11,12,13]

In [6]:
shuffle(mylist)

In [7]:
mylist

[11, 4, 13, 12, 1, 5, 8, 3, 6, 9, 7, 2]

In [8]:
from random import randint

In [10]:
randint(0,100)

23

In [11]:
randint(0,100)

89

In [12]:
mynum = randint(0,10)

In [13]:
mynum

2

In [7]:
mystring = 'hello'

In [14]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [18]:
clecius = [0,10,20,24.5]

fahrenheit = [((9/5)*temp + 32) for temp in clecius]
fahrenheit

[32.0, 50.0, 68.0, 76.1]

In [21]:
fahrenheit = []

for temp in clecius:
    fahrenheit.append(((9/5)*temp +32))
fahrenheit

[32.0, 50.0, 68.0, 76.1]

In [25]:
result = [x if x%2==0 else 'Odd' for x in range(0,11)]
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [31]:
mylist1 = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist1.append(x*y)
print(mylist1)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [32]:
mylist1.append(300)
mylist1

[2, 20, 200, 4, 40, 400, 6, 60, 600, 300]

In [33]:
help(mylist1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [6]:
import numpy as np

number = [8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7, 3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3, 2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4, 3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3, 9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4]
price = [195, 225, 150, 150, 90, 60, 75, 255, 270, 225, 135, 195, 30, 15, 210, 105, 15, 30, 180, 60, 165, 60, 45, 225, 180, 90, 30, 210, 150, 15, 270, 60, 210, 180, 60, 225, 150, 150, 120, 195, 75, 240, 60, 45, 30, 180, 240, 285, 135, 165, 180, 240, 60, 105, 165, 240, 120, 45, 120, 165, 285, 225, 90, 105, 225, 45, 45, 45, 75, 180, 90, 240, 30, 30, 60, 135, 180, 15, 255, 180, 270, 135, 105, 135, 210, 180, 135, 195, 225, 75, 225, 15, 240, 60, 15, 180, 255, 90, 15, 150, 230, 150]

In [7]:
product_number = np.array(number)
product_number

array([8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7,
       3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3,
       2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4,
       3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3,
       9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4])